extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/capitalcitywholesalelogo.jpg', height=120)
		h1 Welcome
		p This is your new Truck Viewer website.
		p It is a super simple first prototype.
